* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei", sans-serif;
}

p.game-name {
	text-align: center;
	font-size: 45px;
	letter-spacing: 10px;
	margin: 60px 0 30px 0;
	line-height: 50px;
}


.level-chance {
	width: 100%;
	margin: 100px auto;
	text-align: center;
}
.level-chance a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	margin: 0 20px;
	font-size: 25px;
	line-height: 40px;
	border-radius: 10px;
}
.normal-mode {
	background-color: #04A8FA;
}
.level-mode {
	background-color: #FC621F;
}
.dodge-mode {
	background-color: #FA081C;
}


.wrapper {
	position: relative;
}
.wrapper canvas {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
}
#mycanvas {
	z-index: 2;
}
#bgcanvas {
	z-index: 1;
}